
<nav class="navbar navbar-expand-lg   fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">My Book</a>
  <div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <button class="btn purple-gradient nav-link text-white"  aria-current="page"routerLink="login">Login</button>
          
        </li>
        <li class="nav-item">
          <button class="btn purple-gradient nav-link text-white" routerLink="signup">SignUp</button>
          
        </li>
        
        
      </ul>
   
    </div>



  </div>
   
  </div>
</nav>


<!-- <this nav bar is for user>
 <nav class="navbar navbar-expand-lg   fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">My Book</a>
  <div>
    
    <button class="navbar-toggler "  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon " style="border: 1px; "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <button class="btn peach-gradient nav-link text-white"  aria-current="page"routerLink="login">Home</button>
          
        </li>
        <li class="nav-item">
          <button class="btn peach-gradient nav-link text-white" routerLink="signup">Cart</button>
          
        </li>
        <li class="nav-item">
          <button class="btn peach-gradient nav-link text-white" routerLink="signup">myorders</button>
          
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            More Options
          </a>
          <ul class="dropdown-menu py-0 " aria-labelledby="navbarDropdown">
            <li class="py-0  "><a class="dropdown-item text-white" href="#" style="  background: #1b1fe0;">manage profile</a></li>
            <li><a class="dropdown-item  text-white" href="#" style="  background: #1b1fe0;">Logout</a></li>
           
          </ul>
        </li>
        
        
      </ul>
   
    </div>



  </div>
   
  </div>
</nav>
 -->

