
<div class="full-nav">
   
    <a class="title" routerLink="/home">MyBook</a>
    
    <div class="right-links">
      <a class="link" routerLink="packages">Packages</a>
      <a class="link" routerLink="orders">Orders</a>
      <a class="link" routerLink="cart">Cart</a>
      <a class="link" routerLink="book-shelf">Book Shelf</a>
      <a class="link" routerLink="#">User</a>
    </div> 

</div>
<!-- 

<nav class="navbar navbar-expand-lg   fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand text-white title" routerLink="login">MyBook</a>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white; color: white;">
        <span class="navbar-toggler-icon"><img src="../../../assets/Home.png" style="width: 30px; height: 30px;"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <button class="btn purple-gradient nav-link text-white nav-obj"  aria-current="page" routerLink="login">Login</button>    
          </li>
          <li class="nav-item">
            <button class="btn purple-gradient nav-link text-white nav-obj" routerLink="signup">Sign Up</button>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</nav> -->
