
<section class="h-100 gradient-form mb-5" style="background-color: #eee;">
  <div class="container py-5 h-100 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-7">
        <div class="card rounded-3 text-black content">
                          <div class="row g-0">
                            <div class="col-lg-">
                              <div class="card-body p-md-5 mx-md-4">
                              <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
                                  <div class = "form-gruop row d-flex align-items-center justify-content-center">
                                      <div class="mb-3 mt-5 form-group col-md-10  text-center">
                                          <h2>Change Password</h2>
                                      </div>
                                      <div class="mb-3 px-4 col-xs-3">
                                        <label for="password" class="form-label">Old Password</label>
                                        <input type="password" class="form-control" formControlName="oldPass" [ngClass]="{ 'is-invalid': submitted && f['oldPass'].errors }" >
                                        <!-- <small class="danger" *ngIf= "password?.touched && !password?.valid">Password is Required</small> -->
                                        <div *ngIf="submitted && f['oldPass'].errors" class="invalid-feedback">
                                          <div *ngIf="f['oldPass'].errors['required']">Password is required.</div>
                                          <div *ngIf="f['oldPass'].errors['pattern']">Password must include a uppercase letter, lowercase letter, number, special character & atleast 8 alphanumeric in length .</div>
                                        </div>

                                      </div>
                                      <div class="mb-3 px-4 col-xs-3">
                                        <label for="password" class="form-label">New Password</label>
                                        <input type="password" class="form-control" formControlName="newPass" [ngClass]="{ 'is-invalid': submitted && f['newPass'].errors }" >
                                        <!-- <small class="danger" *ngIf= "password?.touched && !password?.valid">Password is Required</small> -->
                                        <div *ngIf="submitted && f['newPass'].errors" class="invalid-feedback">
                                          <div *ngIf="f['newPass'].errors['required']">Password is required.</div>
                                          <div *ngIf="f['newPass'].errors['pattern']">Password must include a uppercase letter, lowercase letter, number, special character & atleast 8 alphanumeric in length .</div>
                                        </div>

                                      </div>
                                      <div class="mb-3 px-4 col-xs-3">
                                          <label for="confirmPassword" class="form-label">Confirm Password</label>
                                          <input type="password" class="form-control" formControlName="confirmNewPass" [ngClass]="{ 'is-invalid': submitted && f['confirmNewPass'].errors }">
                                          <!-- <small class="danger" *ngIf= "confirmPassword?.value != password?.value">Password must be same</small> -->
                                          <div *ngIf="submitted && f['confirmNewPass'].errors" class="invalid-feedback">
                                            <small class="danger" *ngIf= "checkIfMatchingPasswords('newPass', 'confirmNewPass')">Password must be same</small>
                                          </div>

                                      </div>
                                      <div class="mb-4 mt-4 px-4 col-xs-3 d-flex align-items-center justify-content-center pb-4">
                                          <!-- <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">SignUp</button> -->

                                          <button type="submit" class="btn btn-primary  gradient-custom-2">Submit</button>

                                      </div>
                                  </div>
                              </form>
                          </div>
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</section>