<div class="outer-pack-box">
    <h2 class="center">Get subscription & Order now!</h2>

    <div class="container outer-box">
        <div class="row">
            <div class="col pack-col" *ngFor="let pack of packageData">
                <div class="card package-box">
                    <div class="card-body">            
                        <h4 class="card-title center">{{ pack.packageName }}</h4>
                        <p class="card-text center">Purchase upto {{ pack.maxBook }} books at once in every order.</p>
                        <p class="card-text center">Price : {{ pack.price | currency : 'INR' }}</p>
                        <p class="card-text center">Validity : {{ pack.validity }} Days</p>
                    </div>
                    <div class="card-body center">
                        <button type="button" class="btn btn-success" (click)="purchase2(content)" (click)="purchase1(pack.packageId)">Purchase</button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>


    
<ng-template #content let-modal>

    <div class="modal-header">
        
        <h4 class="modal-title">Payment</h4>
      
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      
    </div>
      
    <div class="modal-body">
      
        <div class="mb-3">    
            <label class="form-label label-box">Full Name</label>
            <input type="text" class="form-control input-box" placeholder="Card Holder's Name">
        </div>
      
        <div class="mb-3">
            <label class="form-label label-box">Card Number</label>
            <input type="text" class="form-control input-box" placeholder="XXXX XXXX XXXX XXXX">
        </div>
      
        <div class="mb-3">
            <label class="form-label label-box">Month/Year</label>
            <input type="" class="form-control input-box" placeholder="MM/YY">
        </div>
      
        <div class="mb-3">
            <label class="form-label label-box">CVV Number</label>
            <input type="text" class="form-control input-box" placeholder="XXX">
        </div>
      
        <div class="mb-3 center btn-checkout">
            <button type="submit" class="btn btn-danger" (click)="confirmOrder()" (click)="modal.dismiss('Cross click')">Confirm Purchase</button>
        </div>
      
    </div>
   
</ng-template>
