.outer-box{
    width: 850px;
    margin-top: 20px;
}

.package-box{
    width: 14em;
    height: 20em;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgb(238, 238, 238), 0 6px 20px 0 rgb(238, 238, 238);
}

.center{
    text-align: center;
}

.pack-col{
    padding: 35px 28px 30px 28px;
}

@media screen and (min-width: 0px) and (max-width: 600px){

    .outer-box{
        width: 300px;
        margin-bottom: 50px;
    }
    
    .pack-col{
        padding: 35px 34px 10px 34px;
    }
}

.label-box{
    margin-left: 21px;
}

.input-box{
    width: 220px;
    height: 35px;
    margin-left: 21px;
}

.btn-checkout{
    margin: 25px 0px 25px 0px;
}
