<div class="row">
    <div class="col-sm-5 col-md-6 col-md-offset-3">
        <h3>Reset Password</h3>
        <form [formGroup]="passwordForm">

            <div class="form-group">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" placeholder="New Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }">
                <!-- <small class="danger" *ngIf= "password?.touched && !password?.valid">Password is Required</small> -->
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required.</div>
                    <div *ngIf="f['password'].errors['pattern']">Password must include a uppercase letter, lowercase letter, number, special character & atleast 8 alphanumeric in length .</div>
                </div>

            </div>

            <button type="submit" (click)="onReset()" class="btn btn-primary" [disabled]="!passwordForm.valid">Reset Password <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</div>