.outer{
    width: 100%;
    margin-bottom: 100px;
}

  .height {
      height: 25vh
  }
  
  .search {
      position: relative;
      box-shadow: 0 0 40px rgba(51, 51, 51, .1)
  }
  
  .search input {
      height: 60px;
      text-indent: 25px;
      border: 2px solid #d6d4d4;
      margin-bottom: 20px;
      margin-top: 43px;
      
  }
  
  .search input:focus {
      box-shadow: none;
      border: 2px solid blue
  }
  
  .search .bi-search {
      position: absolute;
      top: 20px;
      left: 16px
  }
  
  .search button {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 50px;
      width: 110px;
      background: blue
  }


  #main-book{
    color: royalblue;
    text-decoration: none;
    font-family:cursive;
    font-size: 38px;
    font-weight: normal;
    text-align: left;
    margin-top: 50px;
    padding-left: 100px;
}





/* filtered books and suggested(Best sellers) books styling */

  .card{
    padding: 19px;
    margin: 17px;
}


.card img{
    width: 200px;
    height: 100px;
    padding-left: 20px;
    padding-right: 80px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
    
}



.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.bname {
    font-size: 17px;
    font-weight: bold;
    font-family: "font-family:Verdana,Arial,Helvetica,sans-serif;";
    text-align: center;
    text-decoration: none;
}
.aname,.cname,.yname{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

.pname{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}






/* search box styling */

.height {
    height: 25vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    margin-bottom: 20px;
    margin-top: 43px;
    
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .bi-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}


@media screen and (min-width:0px) and (max-width:600px){

    .book-box{
        width: 200px;
    }
}