
<div class="container outer">
  <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
      <h2 class="h2">List of return-orders</h2>
  </div>
  <div class="table-responsive book-data">
      <table class="table table-bordered ">
          <thead>
              <tr>
                  <th scope="col">S.no</th>
                  <th scope="col">Name</th>
                  <th scope="col">Book_Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Return_Date</th>
                  <th class="text-center" scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let book of orders; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{book.customer}}</td>
                  
                  <td>{{book.book_rented[0]}} <br> {{book.book_rented[1]}} </td>

                  <td>{{book.address[0].address}}, {{book.address[0].city}}, {{book.address[0].state}}</td>
                   <td>{{book.create_at}}</td>
        
                  <td class="text-center">
                    <button type="button" class="btn btn-primary"(click)='closed_order(book.id)'>Approve Return</button> &nbsp; 
                      </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
