<div class="row justify-content-center mt-5">
  <div class="col-md-6 outer">

      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
          <div class="formGroup">
              <label for="name" class="data-box">Book Name</label>
              <input type="text" class="form-control data-box" formControlName="name" required>
          </div>
          <div class="formGroup">
              <label for="author" class="data-box">Author</label>
              <input type="text" class="form-control data-box" formControlName="author" required>
          </div>
          <div class="formGroup">
              <label for="category" class="data-box">Category</label>
              <input type="text" class="form-control data-box" formControlName="category" required>
          </div>
          <div class="formGroup">
              <label for="publishDate" class="data-box">Publish_Date</label>
              <input type="text" class="form-control data-box" formControlName="publishDate" required>
          </div>
          <div class="formGroup">
            <label for="totalQuantity" class="data-box">Total Quantity</label>
            <input type="number" class="form-control data-box" formControlName="totalQuantity" required>
        </div>
          <div class="formGroup btn-box">
              <button class="btn btn-primary btn-block btn-add" type="submit">Add Book</button>
          </div>
      </form>

  </div>
</div>
