<section class="h-100 gradient-form mb-5" style="background-color: #eee;">
    <div class="container py-5 h-100 mt-5">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-5">
                <div class="card rounded-3 text-black content">
                    <div class="row g-0">



                        <div class="card-body p-md-5 mx-md-4">


                            <div class="text-center">
                                <img src="https://www.logolynx.com/images/logolynx/aa/aa3993182ad88a047d21fbcc09b44d04.png" style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">Forgot password ?</h4>
                            </div>

                            <form [formGroup]="forgotPassword">
                                <p>Enter your registered Email Address</p>

                                <div class="form-outline mb-4">
                                    <input type="email" class="form-control" formControlName="email" placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && f['email'].errors}">
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">Email is required.</div>
                                        <!-- <div *ngIf="f['email'].errors['email']">Email must be a valid email address.
                                            </div> -->
                                    </div>
                                    <label class="form-label" for="form2Example11">Email</label>
                                </div>


                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" (click)='onSubmit()'>Submit</button>
                                </div>

                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>